#header {
    background: #212121;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: aliceblue;
}
#header a:link, #header a:visited {
    color: #f0f1f5;
}

div.breadcrumbs {
    background: #424242;
}