<div class="list-group">
    {% for category in categories %}
        <a href="{{ category.get_absolute_url }}"
            class="list-group-item list-group-item-action">{{ category.title }}
            <span class="badge bg-primary rounded-pill"> {{ category.cnt }}</span>
        </a>
    {% endfor %}
</div>