{% extends 'base.html' %}
{% block title %}Обратная связь :: {{ block.super }}{% endblock %}
{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}
{% block content %}
    <h1>Обратная связь</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-block">Отправить письмо</button>
        </div>
    </form>
{% endblock %}
