{% load static %}
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
              rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <title>
            {% block title %}Новости со всего мира{% endblock %}
        </title>
    </head>
    <body>
        {% include 'inc/_nav.html' %}
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-3">
                    {% comment "кэширование части шаблона" %}
                    {% load cache %}
                    {% cache 30 sidebar %}
                    {% block sidebar %}
                        SIDEBAR
                    {% endblock sidebar %}
                    {% endcache %}
                    {% endcomment %}
                    {% block sidebar %}
                        SIDEBAR
                    {% endblock sidebar %}
                </div>
                <div class="col-md-9">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger" role="alert">{{ message }}</div>
                            {% else %}
                                <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% block content %}
                        CONTENT
                    {% endblock content %}
                    {% if page_obj.has_other_pages %}
                        <nav aria-label="...">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                                    </li>
                                {% endif %}
                                {% for p in page_obj.paginator.page_range %}
                                    {% if page_obj.number == p %}
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                                        </li>
                                    {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>
