{% load news_tags %}
{% comment %}
<div class="list-group">
    {% get_categories as categories %}
    {% for category in categories %}
        <a href="{% url 'category' category.pk %}" class="list-group-item list-group-item-action">{{ category.title }}</a>
    {% endfor %}
</div>

{% endcomment %}
{% show_categories %}
